<section class="hero">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Bienvenido(a) a <strong>Restock!</strong></h1>
        <h3 class="subtitle">- Presentado por UI-Topic -</h3>
        <p>
          ¡Conecta, gestiona y crece sin complicaciones!<br />
          Nuestra plataforma te ayuda a optimizar tu inventario, simplificar pedidos y mantener el control total de tus operaciones.<br />
          ¡Es hora de transformar la forma en que trabajas y colaboras en la cadena gastronómica!
        </p>
        <button class="btn-start" (click)="onStart()">EMPEZAR</button>
      </div>
      <div class="hero-image">
        <img src="assets/images/hero-image.jpg" alt="Interior de tienda" />
      </div>
    </div>
  </section>
  