.hero {
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }
  
  .hero-content {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #4f8a5b;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .btn-start {
    background-color: #4f8a5b;
    color: white;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-start:hover {
    background-color: #3b7047;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  }
  
  
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4F4;
  height: 64px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  font-size: 16px;
  overflow: hidden;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 24px;       
}
.navbar__logo img {
    height: 70px; 
    width: auto;
  }

.navbar__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: #7d8896;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 6px 10px;
  }
  
  .nav-item.active {
    color: #3c7a52; 
    padding-bottom: 8px;
  }
  
  .nav-item.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #3c7a52; 
    border-radius: 2px;
  }
  

.nav-item:hover {
  color: #4F8A5B;
  background-color: rgba(79,138,91,0.1);
  border-radius: 4px;
  padding: 21px 20px;}




.navbar__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.action {
  text-decoration: none;
  color: #808D99;
  font-size: 16px;
  transition: color 0.2s;
}

.action:hover {
  color: #4F8A5B;
}

.divider {
  color: #ccc;
}

.lang-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #808D99;
}

.lang-btn:hover {
  color: #4F8A5B;
}
