html {
    scroll-behavior: smooth;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 170px;
    margin-bottom: 120px;
  }
  
  .hero-content {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  .subtitle {
    color: #4f8a5b;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .hero-text p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  .btn-start {
    background-color: #4f8a5b;
    color: white;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-start:hover {
    background-color: #3b7047;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.1);
  }
  
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
    height: 64px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    overflow: hidden;
  }
  
  .navbar__toggle {
    display: none;
    background: none;
    border: none;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .navbar__logo img {
    height: 70px;
    width: auto;
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    position: relative;
    text-decoration: none;
    color: #7d8896;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 8px 15px;
    display: inline-block;
  }
  
  .nav-item.active {
    color: #3c7a52;
  }
  
  .nav-item.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 12px;
    right: 12px;
    height: 3px;
    background-color: #3c7a52;
    border-radius: 2px;
  }
  
  .nav-item:hover {
    color: #4F8A5B;
    background-color: rgba(79, 138, 91, 0.1);
    border-radius: 4px;
  }
  
  .navbar__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .action {
    text-decoration: none;
    color: #808D99;
    font-size: 16px;
    transition: color 0.2s;
  }
  
  .action:hover {
    color: #4F8A5B;
  }
  
  .divider {
    color: #ccc;
  }
  
  .lang-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #808D99;
  }
  
  .lang-btn:hover {
    color: #4F8A5B;
  }
  
  .navbar__logo {
    cursor: pointer;
    transition: opacity 0.2s ease;
  }
  
  .navbar__logo:hover {
    opacity: 0.8;
  }
  
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
  }
  
  .about-us-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #3C3C3C;
    text-align: center;
  }
  
  .about-us-cards h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #3C3C3C;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about-us-description {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 60px;
  }
  
  .about-us p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .about-us-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .about-us-cards .card {
    flex: 0 1 355px;
    border: 2px solid #4F8A5B;
    border-radius: 17px;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    max-width: 355px;
    max-height: 370px;
  }
  
  .about-us-cards .card img {
    justify-content: center;
    display: block;
    margin: 0 auto;
  }
  
  .about-us-cards .card:hover {
    transform: translateY(-5px);
  }
  
  @media (max-width: 1120px) and (min-width: 880px) {
    .hero {
      padding: 60px 40px;
      display: flex;
      justify-content: center;
      background-color: #ffffff;
    }
  
    .hero-content {
      display: flex;
      max-width: 1200px;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
    }
  
    .hero-text {
      flex: 1;
    }
  
    .hero-text h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 2.8rem;
      margin-bottom: 10px;
    }
  
    .subtitle {
      color: #4f8a5b;
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    .hero-text p {
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      color: #333;
      line-height: 1.6;
      margin-bottom: 30px;
    }
  
    .btn-start {
      background-color: #4f8a5b;
      color: white;
      border: none;
      padding: 12px 24px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    .btn-start:hover {
      background-color: #3b7047;
    }
  
    .hero-image {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  
    .hero-image img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }
  
  
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Poppins', sans-serif;
      background-color: #F4F4F4;
      height: 64px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      font-size: 10px;
      overflow: hidden;
    }
  
    .navbar__toggle {
      display: none;
      background: none;
      border: none;
      font-size: 0.75rem;
      color: #4F8A5B;
      cursor: pointer;
    }
  
    .navbar__menu {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  
    .navbar__logo img {
      height: 70px;
      width: auto;
    }
  
    .navbar__links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
  
    .nav-item {
      position: relative;
      text-decoration: none;
      color: #7d8896;
      font-weight: 600;
      transition: all 0.3s ease;
      padding: 8px 12px;
      display: inline-block;
    }
  
    .nav-item.active {
      color: #3c7a52;
    }
  
    .nav-item.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 12px;
      right: 12px;
      height: 3px;
      background-color: #3c7a52;
      border-radius: 2px;
    }
  
    .nav-item:hover {
      color: #4F8A5B;
      background-color: rgba(79, 138, 91, 0.1);
      border-radius: 4px;
    }
  
  
  
  
    .navbar__actions {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  
    .action {
      text-decoration: none;
      color: #808D99;
      font-size: 0.75rem;
      transition: color 0.2s;
    }
  
    .action:hover {
      color: #4F8A5B;
    }
  
    .divider {
      color: #ccc;
    }
  
    .lang-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      color: #808D99;
    }
  
    .lang-btn:hover {
      color: #4F8A5B;
    }
  }
  
  @media (max-width: 880px) {
  
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 16px;
    }
  
    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      max-width: none;
      width: 100vw;
    }
  
    .hero-image {
      order: -1;
      width: 100%;
      margin-bottom: 16px;
    }
  
    .hero-image img {
      width: 100%;
      height: 30%;
    }
  
    .hero-text h1 {
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 8px;
    }
  
    .subtitle {
      font-size: 1rem;
      margin-bottom: 6vh;
    }
  
    .hero-text p {
      font-size: 0.95rem;
      margin-bottom: 24px;
      padding: 0 60px;
    }
  
    .btn-start {
      width: 100%;
      padding: 14px;
      font-size: 1rem;
    }
  
    .navbar {
      flex-wrap: wrap;
      position: relative;
      height: auto;
      min-height: 64px;
      width: auto;
      margin: 0 auto;
    }
  
    .navbar__toggle {
  
      display: block;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #4F8A5B;
      cursor: pointer;
      padding: 2.5rem;
      order: 2;
      transition: transform 0.3s ease;
    }
  
    .navbar__toggle:hover {
      transform: scale(1.1);
    }
  
    .navbar__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      background: #F4F4F4;
      border-radius: 4px;
      overflow: hidden;
      order: 3;
      max-height: 0;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 0.3s ease-in-out;
      visibility: hidden;
    }
  
    .navbar__menu.open {
      max-height: 700px;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  
    .navbar__links {
      flex-direction: column;
      width: 100%;
      padding: 8px;
      gap: 8px;
    }
  
    .navbar__actions {
      flex-direction: column;
      width: 100%;
      padding: 5px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  
    .divider {
      display: none;
    }
  
  
    .nav-item {
      width: 100%;
      text-align: left;
      padding: 12px 16px;
    }
  
    .action {
      width: 100%;
      text-align: left;
      padding: 12px 16px;
    }
  
    .btn-start {
      background-color: #4f8a5b;
      color: white;
      border: none;
      padding: 12px 24px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: auto;
    }
  
    .btn-start:hover {
      background-color: #3b7047;
    }
  
    .navbar__actions {
      flex-direction: column;
      width: 100%;
      padding: 8px;
      gap: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  
    .nav-item {
      width: 100%;
      text-align: left;
      padding: 12px 16px;
    }
  
    .action {
      width: 100%;
      text-align: left;
      padding: 12px 16px;
    }
  
    .btn-start {
      background-color: #4f8a5b;
      color: white;
      border: none;
      padding: 12px 24px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: auto;
    }
  
    .btn-start:hover {
      background-color: #3b7047;
    }
  }

.about-us-subtitle {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.about-us-team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-8px);
}

.profile-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
}

.team-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #222;
  text-align: center;
  margin-bottom: 0.25rem;
}

.team-role {
  font-size: 0.5rem;
  color: #666;
  margin-bottom: 1rem;
  text-align: center;
}

.team-socials {
  display: flex;
  gap: 1rem;
}

.team-socials a {
  background-color: #eee;
  color: #333;
  border-radius: 50%;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.team-socials a:hover {
  background-color: #4F8A5B;
  color: #fff;
}

.about-us-team-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.center-row {
  justify-content: center;
}

@media (min-width: 768px) {
  .about-us-team {
    grid-template-columns: repeat(3, 1fr);
  }
}